@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#titre {
    height: 10%;
    background: #f9dfa9;
}

#menu {
    position: absolute;
    top: 1.5%;
    width: 15%;
    height: 100%;
    margin-top: 4.1%;
    border: 2px solid darkred;
    font-size: 5px;
    font-weight: 600;
    line-height: 60px;
    color: white;
    background: #1b1b1b;
}

#menu .hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: mediumpurple;
}

.texte {
    font-size: 17px;
    color: antiquewhite;
}

#contenu {
    height: 100%;
    margin-left: 15%;
    overflow: auto;
    font-size: 14px;
    background: lightyellow;
}

#auteurs {
    height: 10%;
    color: coral;
    background: steelblue;
}

h2 {
    margin: 15px;
    margin-top: 0;
    font-size: 18px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

p {
    margin-left: 2.2%;
    font-size: 15px;
}

blockquote p {
    margin-left: 0;
}

hr {
    align-items: center;
    width: 70%;
    border-color: darkred;
}

.Souligne {
    text-decoration: underline red;
}

li {
    margin-left: 8%;
    font-size: 15px;
    color: white;
}

li a:hover {
    color: cyan!important;
    background: #1e1e1e!important;
}

table {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid orange;
    table-layout: fixed;
    font-size: 15px;
}

tr th {
    border: 1px solid black;
}

.Blue {
    border: 1px solid steelblue;
    font-weight: bolder;
}

.Red {
    border: 1px solid red;
    font-weight: bolder;
}

.Strong {
    margin-left: 1%;
    font-weight: bolder;
}

.Images {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.ImagesGauche {
    display: block;
    margin-left: 12%;
}

.ImagesDroite {
    display: block;
    float: right;
    margin-right: 12%;
}

.ImagesDroite_Centre {
    display: block;
    float: right;
    margin-top: 6%;
    margin-right: 12%;
}

.Validateur {
    display: block;
    float: right;
}