@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    pading: 0;
}

#titre {
    height: 10%;
    background: #f9dfa9;
}

#menu {
    position: absolute;
    top: 1.5%;
    width: 15%;
    height: 100%;
    margin-top: 4.31%;
    margin-right: 0;
    border: 2px solid darkred;
    text-align: left;
    font-size: 10px;
    font-weight: 600;
    line-height: 65px;
    color: white;
    background: #1b1b1b;
}

#menu .hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: mediumpurple;
}

.texte {
    font-size: 17px;
    color: antiquewhite;
}

#contenu {
    height: 100%;
    margin-left: 15%;
    font-size: 14px;
    background: lightyellow;
}

#auteurs {
    height: 10%;
    color: coral;
    background: steelblue;
}

h2 {
    margin: 15px;
    margin-top: 0;
    font-size: 18px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

p {
    margin-left: 2.2%;
    font-size: 15px;
}

blockquote p {
    margin-left: 0;
}

hr {
    align-items: center;
    width: 70%;
    border-color: darkred;
}

.Souligne {
    text-decoration: underline red;
}

li {
    margin-left: 8%;
    font-size: 15px;
    color: white;
}

li a:hover {
    color: cyan!important;
    background: #1e1e1e!important;
}

.Strong {
    margin-left: 1%;
    font-weight: bolder;
}

.Images {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.ImagesGauche {
    display: block;
    margin-left: 10%;
}

.ImagesDroite {
    display: block;
    float: right;
    margin-right: 10%;
}
